<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Quiz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

  </script>


</head>

<body>
  <nav class=" navbar navbar-dark bg-primary">

    <ul class="nav navbar-nav">
      
    <li> <a href="./play"><strong>NEWS 24 X 7</strong></a></li>
    </ul>

    
    <ul class="nav navbar-nav navbar-right">
    <li> <a href="./buisness">BUISNESS</a></li>

    <li> <a href="./sport">SPORTS</a></li>

    <li> <a href="./play">WORLD</a></li>

    <li> <a href="./play">ENTERTAINMENT</a></li>
    </ul>
    
  </nav>
  

     <div>
             

                <%  data1["articles"].forEach(function(news){   %>

                          <li><%= news["title"]  %><li

             <% }); %>


 

     </div>
</body>

</html>